@use './colors' as *;

* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: $text;
  background: $gray-50;
}

button { font-family: inherit; }
